@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.mediaContainerMainTv {
    display: inline-flex;
    margin: 0 auto;
    justify-content: center;
    font-family: 'Nunito', Helvetica, sans-serif;
}

.mediaContainerTv {
    background-color: rgba(12, 3, 49, 0.836);
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 400px;
    color: rgba(255, 255, 255, 0.822);
}

.posterTv {
    height: 280px;
}

.mediaContainerTvInfo {
    padding-left: 10px;
}

.mediaContainerTvInfo h3 {
    margin: 10px 0;
    text-shadow: 2px 2px 5px rgb(20, 2, 2);
}